# General
.DS_Store
Thumbs.db
node_modules/
.env

# Editors
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
backend/.venv/

# Large files
*.mp4
frontend/finally/public/Video Project.mp4
